<% include ./header.ejs %>

<form action="/login_process" method="POST">
    <input type="email" id="email" name="email" placeholder="email">
    <input type="password" id="pwd" name="pwd" placeholder="password">
    <input type="submit" value="로그인">
    <a href="/auth/google">google로 로그인</a>
    <a href="/register">회원가입</a>
</form>

<% include ./footer.ejs %>