<% include ./header.ejs %>

<form action="/register_process" method="POST">
    <input type="email" id="email" name="email" placeholder="email">
    <input type="password" id="pw" name="pw" placeholder="password">
    <input type="submit" value="가입하기">
</form>

<% include ./footer.ejs %>